/* SEQR - SMALL DESKTOP */
@font-face {
				font-family: 'Whitney-Medium';
				src: url('<%= baseURL %>/fonts/medium/whitneymediumprogkcy.eot');
				src: url('<%= baseURL %>/fonts/medium/whitneymediumprogkcy.eot?#iefix') format('embedded-opentype'),
						 url('<%= baseURL %>/fonts/medium/whitneymediumprogkcy.woff') format('woff'),
						 url('<%= baseURL %>/fonts/medium/whitneymediumprogkcy.ttf') format('truetype'),
						 url('<%= baseURL %>/fonts/medium/whitneymediumprogkcy.svg#whitneymediumprogkcy') format('svg');
				font-weight: normal;
				font-style: normal;
}
@font-face {
				font-family: 'Whitney-Book';
				src: url('<%= baseURL %>/fonts/book/whitneybookprogkcy.eot');
				src: url('<%= baseURL %>/fonts/book/whitneybookprogkcy.eot?#iefix') format('embedded-opentype'),
						 url('<%= baseURL %>/fonts/book/whitneybookprogkcy.woff') format('woff'),
						 url('<%= baseURL %>/fonts/book/whitneybookprogkcy.ttf') format('truetype'),
						 url('<%= baseURL %>/fonts/book/whitneybookprogkcy.svg#whitneybookprogkcy') format('svg');
				font-weight: normal;
				font-style: normal;
}
#seqr-desktop {
	width: 260px;
	position: relative;
	padding: 15px;
	background: #fff;
	float: left;
	border: 1px solid #ccc;
	margin: 10px;
}
#seqr-desktop strong {
	font-family: "Whitney-Medium";
	font-weight: normal;
	font-size: 14px !important;
	text-transform: uppercase;
}
#seqr-desktop .seqr-header {
	background: #f2f2f2;
	color: #333333;
	font-size: 12px;
	line-height: 40px;
	font-family: "Whitney-Book";
	padding: 7px 15px;
	margin-bottom: 15px;
	text-transform: uppercase;
	font-style: italic;
	text-align: left !important;
}
#seqr-desktop .seqr-header2 {
	background: #f2f2f2;
	color: #333333;
	font-size: 12px;
	line-height: 40px;
	font-family: "Whitney-Book";
	padding: 7px 15px;
	margin-bottom: 15px;
	text-transform: uppercase;
	font-style: italic;
	margin-left: 15px;
	width: 220px;
	float: right;
}

#seqr-desktop .seqr-content {
	margin-left: -15px;
}
#seqr-desktop .seqr-qrcode {
	background: #00a391;
}
#seqr-desktop .seqr-qr-code-wrapper {
	padding: 10px;
	background: #fff;
}

#seqr-desktop .seqr-logo {
}
#seqr-desktop .seqr-description {
	width: 220px;
	height: 146px;
	margin-left: 15px;
	position: relative;
	background: #f2f2f2;
	padding: 15px;
	font-size: 16px;
	float: left;
}
#seqr-desktop .seqr-description img {
	width: 100%;
	padding: 15px 0px;
}
#seqr-desktop .seqr-label {
	color: #ffffff;
	padding-top: 14px;
	font-size: 15px;
	text-align: center;
}
#seqr-desktop .tagline {
	padding: 10px 0px;
	font-size: 14px;
	line-height: 22px;
	display: block;
	float: left;
	font-style: italic;
	text-align: center;
}
#seqr-desktop .video {
	padding: 10px 0px;
}
#seqr-desktop ul.seqr-download {
	text-align: center;
	margin: 0;
	padding: 0px;
}
#seqr-desktop ul.seqr-download li {
	text-align: center;
	margin: 0px 10px;
	display: inline-block;
}
#seqr-desktop .seqr-download img {
	width: 20px;
	padding: 0px 5px;
	float: left;
}
#seqr-desktop .seqr-download a {
	color: #393939;
	display: block;
	font-size: 12px;
	line-height: 30px;
	text-decoration: none;
	text-align: left;
}
#seqr-desktop .seqr-qrcode {
	position: relative;
	width: 180px;
	height: 215px;
	margin-left: 15px;
	background: #00a391;
	padding: 15px;
}
#seqr-desktop .seqr-qrcode img {
	width: 100%;
}
#seqr-desktop .seqr-link {
	display: none;
}

/* STATUS PAID */

#seqr-desktop .SEQR_STATUS {
	height: 245px;
	width: 475px;
	background: #ffffff;
	position: absolute;
	bottom: 15px;
	text-align: center;
	visibility: hidden;
}
#seqr-desktop .SEQR_STATUS img.check {
	padding: 10px 0px;
}
#seqr-desktop .seqr-content-paymentcomplete-message-title {
	font-size: 35px;
	font-family: "Whitney-Book";
	text-transform: uppercase;
	color: #00a391;
}