/* SEQR - SMALL DESKTOP */

#seqr-module2-desktop {
	width: 475px;
	position: relative;
	padding: 15px;
	background: #fff;
	float: left;
	border: 1px solid #ccc;
	margin: 10px;
}
#seqr-module2-desktop strong {
	font-family: "Whitney-Medium";
	font-weight: normal;
	font-size: 14px !important;
	text-transform: uppercase;
}
#seqr-module2-desktop .seqr-module2-header {
	background: #f2f2f2;
	color: #333333;
	font-size: 25px;
	line-height: 40px;
	font-family: "Whitney-Book";
	padding: 7px 15px;
	margin-bottom: 15px;
	text-transform: uppercase;
	font-style: italic;
}
#seqr-module2-desktop .seqr-module2-header2 {
	background: #f2f2f2;
	color: #333333;
	font-size: 12px;
	line-height: 40px;
	font-family: "Whitney-Book";
	padding: 7px 15px;
	margin-bottom: 15px;
	text-transform: uppercase;
	font-style: italic;
	margin-left: 15px;
	width: 220px;
	float: right;
}

#seqr-module2-desktop .seqr-module2-content {
	margin-left: -15px;
}
#seqr-module2-desktop .seqr-module2-qrcode {
	float: left;
	background: #00a391;
}
#seqr-module2-desktop .seqr-module2-qr-code-wrapper {
	padding: 10px;
	background: #fff;
}

#seqr-module2-desktop .seqr-module2-logo {
	float: right;
	padding: 3px;
}
#seqr-module2-desktop .seqr-module2-description {
	width: 220px;
	height: 146px;
	margin-left: 15px;
	position: relative;
	background: #f2f2f2;
	padding: 15px;
	font-size: 16px;
	float: left;
}
#seqr-module2-desktop .seqr-module2-description img {
	width: 100%;
	padding: 15px 0px;
}
#seqr-module2-desktop .seqr-module2-label {
	color: #ffffff;
	padding-top: 14px;
	font-size: 15px;
	text-align: center;
}
#seqr-module2-desktop .tagline {
	padding: 10px 0px;
	font-size: 14px;
	line-height: 22px;
	display: block;
	float: left;
	font-style: italic;
	text-align: center;
}
#seqr-module2-desktop .video {
	padding: 10px 0px;
}
#seqr-module2-desktop ul.seqr-module2-download {
	text-align: center;
	margin: 0;
	padding: 0px;
}
#seqr-module2-desktop ul.seqr-module2-download li {
	text-align: center;
	margin: 0px 10px;
	display: inline-block;
}
#seqr-module2-desktop .seqr-module2-download img {
	width: 20px;
	padding: 0px 5px;
	float: left;
}
#seqr-module2-desktop .seqr-module2-download a {
	color: #393939;
	display: block;
	font-size: 12px;
	line-height: 30px;
	text-decoration: none;
	text-align: left;
}
#seqr-module2-desktop .seqr-module2-qrcode {
	position: relative;
	width: 180px;
	height: 215px;
	margin-left: 15px;
	background: #00a391;
	padding: 15px;
}
#seqr-module2-desktop .seqr-module2-qrcode img {
	width: 100%;
}
#seqr-module2-desktop .seqr-module2-link {
	display: none;
}