/* SEQR - STANDARD MOBILE */
@font-face {
				font-family: 'Whitney-Medium';
				src: url('<%= baseURL %>/fonts/medium/whitneymediumprogkcy.eot');
				src: url('<%= baseURL %>/fonts/medium/whitneymediumprogkcy.eot?#iefix') format('embedded-opentype'),
						 url('<%= baseURL %>/fonts/medium/whitneymediumprogkcy.woff') format('woff'),
						 url('<%= baseURL %>/fonts/medium/whitneymediumprogkcy.ttf') format('truetype'),
						 url('<%= baseURL %>/fonts/medium/whitneymediumprogkcy.svg#whitneymediumprogkcy') format('svg');
				font-weight: normal;
				font-style: normal;
}
@font-face {
				font-family: 'Whitney-Book';
				src: url('<%= baseURL %>/fonts/book/whitneybookprogkcy.eot');
				src: url('<%= baseURL %>/fonts/book/whitneybookprogkcy.eot?#iefix') format('embedded-opentype'),
						 url('<%= baseURL %>/fonts/book/whitneybookprogkcy.woff') format('woff'),
						 url('<%= baseURL %>/fonts/book/whitneybookprogkcy.ttf') format('truetype'),
						 url('<%= baseURL %>/fonts/book/whitneybookprogkcy.svg#whitneybookprogkcy') format('svg');
				font-weight: normal;
				font-style: normal;
}
#seqr-mobile {
	max-width: 260px;
	position: relative;
	padding: 15px;
	background: #fff;
	float: left;
	border: 1px solid #ccc;
	margin: 10px;
}
#seqr-mobile strong {
	font-family: "Whitney-Medium";
	font-weight: normal;
	font-size: 14px !important;
	text-transform: uppercase;
}
#seqr-mobile .seqr-header {
	background: #f2f2f2;
	color: #333333;
	font-size: 12px;
	line-height: 40px;
	font-family: "Whitney-Book";
	padding: 7px 15px;
	margin-bottom: 15px;
	text-transform: uppercase;
	font-style: italic;
}
#seqr-mobile .seqr-content {
	margin-left: -15px;
}
#seqr-mobile .seqr-qrcode {
	display: none;
	float: left;
	background: #00a391;
}
#seqr-mobile .seqr-logo {
	float: left;
	padding: 10px 5px;
	margin-right: 4px;
}
#seqr-mobile .seqr-description {
	width: 230px;
	margin-left: 15px;
	height: 200px;
	position: relative;
	background: #f2f2f2;
	padding: 15px;
	font-size: 16px;
	float: left;
	clear: left;
	margin-top: 15px;
}
#seqr-mobile .seqr-description img {
	width: 100%;
	padding: 15px 0px;
}
#seqr-mobile .seqr-label {
	color: #ffffff;
	padding-top: 14px;
	font-size: 19px;
	text-align: center;
}
#seqr-mobile .video {
	padding: 10px 0px;
}
#seqr-mobile .tagline {
	display: none;
	padding: 10px 0px;
	font-size: 14px;
	line-height: 22px;
	float: left;
	font-style: italic;
	text-align: center;
}
#seqr-mobile ul.seqr-download {
	text-align: center;
	margin: 0;
	padding: 0px;
}
#seqr-mobile ul.seqr-download li {
	text-align: center;
	margin: 0px 10px;
	display: inline-block;
}
#seqr-mobile .seqr-download img {
	width: 20px;
	padding: 0px 5px;
	float: left;
}
#seqr-mobile .seqr-download a {
	color: #393939;
	display: block;
	font-size: 12px;
	line-height: 30px;
	text-decoration: none;
	text-align: left;
}
#seqr-mobile .seqr-qrcode {
	position: relative;
	width: 230px;
	height: 275px;
	margin-left: 15px;
	background: #00a391;
	padding: 15px;
}
#seqr-mobile .seqr-qrcode img {
	width: 100%;
}
#seqr-mobile .seqr-link {
	display: block;
	float: left;
	margin-left: 15px;
	width: 260px;
}
#seqr-mobile .seqr-link a {
	color: #ffffff;
	font-size: 20px;
	text-align: center;
	padding: 10px 0px;	
	background: #00a391;
	border-radius: 5px;
	display: block;
	width: 100%;
	text-decoration: none;
}