<!-- SEQR - SMALL UNSUPPORTED -->
<div id="seqr-module2-unsupported">
	<div class="seqr-module2-header">
		<span data-translate="header">The Mobile Wallet</span>
		<a href="https://www.seqr.com"><img src="<%= baseURL %>/images/seqr-logo.png" height="22" class="seqr-module2-logo"></a>
	</div>

	<div class="seqr-module2-content">
		<div class="seqr-module2-unsupported-message">

			<h2 data-translate="notsupporteddevicetitle">SEQR is available for iPhone and Android.</h2>
			<div class="seqr-module2-unsupported-text" data-translate="notsupporteddevice">We are sorry, but SEQR doesn't support the device you want to pay with. Do you wish for the SEQR app to have support for your phone?
			</div>
			<div class="seqr-module2-link"><a href="" data-translate="notsupporteddevicelink">TELL US</a></div>

		</div>
	</div>
</div>