<!-- SEQR - STANDARD DESKTOP -->
<div id="seqr-desktop">
    <div class="seqr-content">
        <!-- QR CODE -->
        <div class="seqr-qrcode">
            <div class="seqr-qr-code-wrapper"><img
                    src="https://chart.googleapis.com/chart?chs=210x210&cht=qr&chld=M|0&chl=HTTP%3A%2F%2FSEQR.SE%2FR<%= invoiceReference %>">
            </div>
            <div class="seqr-label" data-translate="scan"><%= text.scan %></div>
        </div>
        <div class="seqr-description">
            <img src="<%= baseURL %>/images/seqr-logo-horizontal-tagline-color.png" height="55" class="seqr-logo">
            <iframe width="220px" height="123px"
                    src="http://www.youtube.com/embed/GST4ofKoEM4?rel=0&showinfo=0&theme=light&modestbranding=1&vq=hd720"
                    frameborder="0" class="video"></iframe>
            <ul class="seqr-download">
                <li><a href="https://itunes.apple.com/app/seqr/id494224742?l=sv&mt=8" target="_blank"><img
                        src="<%= baseURL %>/images/iphone.png"><br/><%= text.iphone %></a></li>
                <li><a href="https://play.google.com/store/apps/details?id=com.seamless.seqr" target="_blank"><img
                        src="<%= baseURL %>/images/android.png"><br/><%= text.android %></a></li>
                <li><a href="http://www.windowsphone.com/sv-se/store/app/seqr/7c25ac1c-dfb7-4cd5-b040-fdeef6ab09a8"
                       target="_blank"><img src="<%= baseURL %>/images/windows.png"><br/><%= text.windows %></a></li>
            </ul>
        </div>
    </div>

    <!-- STATUS PAID -->
    <div class="SEQR_STATUS SEQR_STATUS_PAID">
        <img src="<%= baseURL %>/images/paymentdone.png" width="150">

        <div class="seqr-content-paymentcomplete-message-title"><%= text.paid %></div>
    </div>

    <!-- STATUS CANCELED -->
    <div class="SEQR_STATUS SEQR_STATUS_CANCELED">
        <img src="<%= baseURL %>/images/paymentcanceled.png" width="150">

        <div class="seqr-content-paymentcomplete-message-title"><%= text.canceled %></div>
    </div>

</div>